.comment {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20px 1fr;
    gap: 2px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.comment-text {
    font-size: 16px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: justify;
}

.comment-author {
    grid-column: 2 / 3;
    grid-row: 1/2;
}

.change-comment {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    align-self: center;
}


textarea:disabled {
    border: none;
    background: none;
}

textarea {
    border: none;
    background-color:  hsl(211deg 10% 45% / 28%);
    margin-right: 20px;
}